[Unit]
Description=CosmiCam Fan Control Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/Kepler/CosmiCam
Environment="PYTHONPATH=/home/Kepler/CosmiCam"
Environment="COSMICAM_ROOT=/home/Kepler/CosmiCam"
ExecStart=/home/Kepler/CosmiCam/venv/bin/python3 -m src.hardware.fan_control
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
